.buttonContainersRow{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
}

.buttonContainersCol{
    display:flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: flex-end;
    align-items: flex-end;
    align-items: flex-end;
    margin:20px;
}
.boldSmallButton{
    background: darkgray;
    color: white;
    font-weight: bold;
    width:30px;
    height: 30px;
    border: none;
}

.smallButton{
    background: grey;
    color: white;
    font-weight: bold;
    width:30px;
    height: 30px;
    border: none;
}