
.image{
    width:200px;
    height: 200px;
    padding: 50px 50px 20px;
    border-radius: 25%;
}

.image:hover{
    cursor: pointer;
}

.textDisplay{
    width: 200px;
    padding: 0 50px;
    text-align: left;
}

